<h1>Projects#new</h1>

<%= form_tag(@newproject)  do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :description %><br />

  <%= f.submit "Create" %>
<% end %>

<p>Find me in app/views/projects/new.html.erb</p>