<h1>Todolist Items <%= @opts[:todolist]['id'] %></h1>

<h2>Parent:</h2>

<%= render 'todolist' %>

<h2>Items:</h2>

<h3>Remaining items:</h3>
<% @opts[:todolist]['todos']['remaining'].each do |item| %>
    <% @item = item %>
    <%= render :partial => 'todoitem' %>
<% end %>

<h3>Completed items:</h3>
<% @opts[:todolist]['todos']['completed'].each do |item| %>
    <% @item = item %>
    <%= render :partial => 'todoitem' %>
<% end %>


<p>Find me in app/views/todolists/items.html.erb</p>
